# API Keys
NEUROSNAP_API_KEY=055219b7e756d83de111aebe86f12f9bfeef4f779f66b5fa6cc8f421f7265451efcd2595a6b1860bcd28e27bfedc4746d1807052ccbdf80fd4f449b49ae883aa

NVIDIA_API_KEY=your_evo2_key_here

EVO2_API_URL=https://health.api.nvidia.com/v1/biology/arc/evo2-40b


# Compute Configuration
COMPUTE_MODE=hybrid
MAX_WORKERS=4

# Paths
DATA_DIR=./data
RESULTS_DIR=./data/results