# API Keys

# Neurosnap API Configuration
NEUROSNAP_API_KEY=2ac33d9b432efc48bd2ba2aeaaaf260d990f7fe1b2f85d8fc36ab694574fde7975f056c5d76a6399717443ab09355984fcb607aa345e41b80c700ea710eb8c66
NEUROSNAP_API_URL=https://api.neurosnap.ai


NVIDIA_API_KEY=your_evo2_key_here

EVO2_API_URL=https://health.api.nvidia.com/v1/biology/arc/evo2-40b


# Compute Configuration
COMPUTE_MODE=hybrid
MAX_WORKERS=4

# Paths
DATA_DIR=./data
RESULTS_DIR=./data/results